# ===============================
# Composer
# ===============================
/vendor/

# ===============================
# Ambiente (.env)
# ===============================
.env
.env.local
.env.*.local


# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# Cache / Temp
# ===============================
cache/
tmp/
storage/

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ===============================
# Sistema Operacional
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Arquivos temporários
# ===============================
*.swp
*.swo
*.bak
*.tmp
